<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button class="menu-icon" aria-label="button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
        <span class="menu-spacer"></span>
        <button mat-icon-button class="add-icon" aria-label="button with menu icon">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="cards-icon" aria-label="button with menu icon">
            <mat-icon>inventory_2</mat-icon>
        </button>
        <button mat-icon-button class="menu-icon" aria-label="button with menu icon">
            <mat-icon>bedtime</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>