<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button routerLink="/collection" routerLinkActive="active" mat-menu-item>
              <mat-icon>playing_cards</mat-icon>
              <span>My Collection</span>
            </button>
          </mat-menu>
        <span>{{title}}</span>
        <span class="menu-spacer"></span>
        <button mat-icon-button class="add-icon" aria-label="button with menu icon">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="cards-icon" aria-label="button with menu icon">
            <mat-icon>inventory_2</mat-icon>
        </button>
        <button routerLink="/search" routerLinkActive="active" mat-icon-button class="menu-icon">
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>