.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: 200px;
    grid-template-areas:
      ". a a ."
      ". b b .";
  }
  .item1 {
    grid-area: a;
    align-self: center;
    justify-self: center;
  }
  mat-form-field{
   min-width: 900px;

  }

  .example-card {
    max-height: 200px;
    max-width: 300px;
    grid-area: b;
    align-self: center;
    justify-self: center;

  }
  
  .example-header-image {
    background-image: url('https://cards.scryfall.io/normal/front/7/2/7201ee12-9104-48d8-aeec-08a318c8ee10.jpg?1726286614');
    background-size:auto;
  }
  
  